<div class="banner-side">
</div>

<div class="form-container">
  <div class="form-area">
    <p class="form-area-title">Registre-se</p>
    <div class="mb-3">
      <input type="text" placeholder="Nome da loja" class="form-control form-control-sm">
    </div>
    <div class="mb-3">
      <input type="text" placeholder="E-mail" class="form-control form-control-sm">
    </div>
    <div class="mb-3">
      <input type="text" placeholder="CNPJ" class="form-control form-control-sm">
    </div>
    <div class="mb-3">
      <input type="text" placeholder="nome" class="form-control form-control-sm">
    </div>
    <div class="mb-3">
      <input type="password" placeholder="senha" class="form-control form-control-sm">
    </div>
    <div class="mb-3">
      <input type="password" placeholder="confirme a senha" class="form-control form-control-sm">
    </div>
    <div class="control-area">
      <div>
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/']">Voltar</button>
        <button type="button" class="btn btn-primary submit-btn" [routerLink]="['/signup']">Registrar</button>
      </div>
    </div>
  </div>
</div>